Elevation
==========

Survey data in SA Geodata
---------------------------

The elevation survey data which is loaded into SA Geodata in the table DD_DH_ELEVATION_VW is available through
:meth:`sageodata_db.SAGeodataConnection.elevation_surveys`:

In [10]:
import dew_gwdata as gd
db = gd.sageodata()

wells = db.find_wells("ule205, sle69")
elevs = db.elevation_surveys(wells)
elevs.T

,0,1
well_id,ULE205,SLE069
dh_no,198752,198753
unit_hyphen,6028-2319,6028-2320
obs_no,ULE205,SLE069
dh_name,US 1,REPLACEMENT FOR SLE010
aquifer,Tbw+Qpcb,Tbw+Qpcb
ref_point_type,REF,REF
ref_elev,67.717,132.088
elev_date,2004-06-01 00:00:00,2004-06-01 00:00:00
ground_elev,67.071,131.644
vert_accuracy,0.0,0.0
survey_meth,GPSRD,GPSRD
applied_date,2003-12-12 00:00:00,2003-12-10 00:00:00
ref_height,None,None
dist_elev_point_to_ground,None,None
comments,"sub 0.03m vertical and horizontal accuracy, ne...","sub 0.03m vertical and horizontal accuracy, ne..."
created_by,GASLE,GASLE
creation_date,2004-07-23 13:04:04,2004-07-23 10:07:00
modified_by,None,GASLE
modified_date,NaT,2004-07-23 10:07:39
elev_no,116050,116033
unit_long,602802319,602802320
easting,549935.34,551461.01
northing,6147387.99,6145300.55
zone,53,53
latitude,-34.814536,-34.833283
longitude,135.545995,135.562804

``SAGeodataConnection.elevation_surveys``
-----------------------------------------
.. automethod:: sageodata_db::SAGeodataConnection.elevation_surveys

Comprehensive elevations for all drillholes
-----------------------------------------------

The survey data is patchy and generally, it's a pain to apply it manually where you may want to (e.g. logs or construction info). For example, if you have hydrostrat logs, you want to convert the "depth_from" and "depth_to" layers into mAHD elevations.

You can do this very easily:

In [9]:
hs = db.hydrostrat_logs(wells)
hs = gd.depth_to_elev(hs)
hs[['obs_no', 'unit_depth_from', 'unit_depth_to', 'unit_depth_from_mahd', 'unit_depth_to_mahd']]

,obs_no,unit_depth_from,unit_depth_to,unit_depth_from_mahd,unit_depth_to_mahd
0,ULE205,0.0,90.0,64.371674,-25.628326
1,ULE205,90.0,NaN,-25.628326,NaN
2,SLE069,0.0,152.0,129.020493,-22.979507
3,SLE069,152.0,NaN,-22.979507,NaN

The two key functions are: 

* :func:`dew_gwdata.depth_to_elev` - used above. This obtains the elevation figure, and then adds a new "_mahd" column
  to any columns with "depth" in the name, essentially.
* :func:`dew_gwdata.get_dem_elev` - this works in the background to obtain an elevation for any spatial coordinate.

See details of these functions:

``depth_to_elev``
-----------------
.. autofunction:: dew_gwdata::depth_to_elev

``get_dem_elev``
-----------------
.. autofunction:: dew_gwdata::get_dem_elev