Drillhole groups & monitoring networks
======================================

There are two main types of drillhole groups in SA Geodata: project groups, and monitoring networks.
Project groups are used for just about any purpose you can imagine, while monitoring networks
are used to manage DEW-run monitoring.

Groups are defined in DD_GROUP_VW and drillhole membership is managed through DD_DH_GROUP_VW.

For example:

In [2]:
import dew_gwdata as gd
db = gd.sageodata()

``SAGeodataConnection.monitoring_networks``
--------------------------------------------

List monitoring networks:

.. automethod:: sageodata_db::SAGeodataConnection.monitoring_networks

In [7]:
networks = db.monitoring_networks()
networks

,group_code,group_type,group_desc,group_comments,group_created_by,group_creation_date,group_modified_by,group_modified_date
0,ANGBRM,OMN,Angas Bremer PWA,None,DHDB,1997-07-26 12:47:52,DHDB,2021-03-16 10:23:44
1,AW_NP,OMN,Alinytjara Wilurara Non-Prescribed Area,None,MHUTCHESSON,2015-08-12 16:44:32,DHDB,2021-03-16 10:23:44
2,BAROOTA,OMN,Baroota PWRA,Formerly PIRIE network,GASLE,2001-04-03 12:49:45,GAGAM,2022-02-21 18:19:54
3,BAROSSA,OMN,Barossa PWRA,None,DHDB,1997-07-26 12:47:52,DHDB,2021-03-16 10:23:44
4,BAROSS_IRR,OMN,Barossa irrigation wells salinity monitoring,None,GASRB,2011-09-01 14:36:35,DHDB,2021-03-16 10:23:44
...,...,...,...,...,...,...,...,...
157,WANILLA,OMH,Wanilla dryland salinity,None,XADZU,1999-02-01 08:00:12,DHDB,2021-01-25 11:31:23
158,WILLOCH,OMH,Willochra Basin,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
159,WILLUNGA,OMH,McLaren Vale PWA,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
160,WOOLPNDA,OMH,Woolpunda,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
161,WOOLP_IS,OMH,Woolpunda Interception Scheme,None,XADZU,2001-01-29 14:58:18,DHDB,2021-01-25 11:31:23

``SAGeodataConnection.project_groups``
---------------------------------------

List project groups:

.. automethod:: sageodata_db::SAGeodataConnection.project_groups

In [4]:
db.project_groups()

,group_code,group_type,group_desc,group_comments,group_created_by,group_creation_date,group_modified_by,group_modified_date
0,GABWELLS8,PR,GAB wells completed in Bulldog Shale,None,WOHLID01,2012-04-03 09:24:16,DHDB,2021-01-25 11:31:23
1,COWELL,PR,Cowell,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
2,JANELIZA,PR,Jane Eliza,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
3,KATRAPKO,PR,Katarapko Island,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
4,KYBUNGA,PR,Kybunga,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
...,...,...,...,...,...,...,...,...
497,KENT1,PR,changing asset values,None,KINVERARITY,2023-01-04 15:16:36,None,NaT
498,KI_BOMWDTF,PR,Set of 648 wells requested by BoM for WDTF re-...,None,KINVERARITY,2021-05-14 12:57:06,None,NaT
499,KAN_NUGENT,PR,Kanmantoo Hillgrove EPEPR assessment,all wells within 1.5 km radius of EPEPR drills...,KINVERARITY,2021-10-01 13:13:55,None,NaT
500,DRYCK_PROD,PR,Dry Creek salt fields production bores,see PEPR-MOP 2022. \nSWL Historic = backfilled...,KINVERARITY,2022-02-08 17:10:57,KINVERARITY,2022-02-11 13:07:26
501,IKMA,PR,Iron Knob Mining Area wells,Ad hoc group for mining assessments,KINVERARITY,2023-06-19 12:15:42,KINVERARITY,2023-06-20 14:30:01

``SAGeodataConnection.all_groups``
---------------------------------------

Or all groups:

.. automethod:: sageodata_db::SAGeodataConnection.all_groups

In [5]:
df = db.all_groups()
df

,group_code,group_type,group_desc,group_comments,group_created_by,group_creation_date,group_modified_by,group_modified_date
0,ANGBRM,OMN,Angas Bremer PWA,None,DHDB,1997-07-26 12:47:52,DHDB,2021-03-16 10:23:44
1,BALAK,OMH,Balaklava,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
2,BAROSSA,OMN,Barossa PWRA,None,DHDB,1997-07-26 12:47:52,DHDB,2021-03-16 10:23:44
3,BOOBOR,OMH,Booborowie,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
4,BOOKPURN,OMH,Bookpurnong,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
...,...,...,...,...,...,...,...,...
735,HYLOG_OD,MDU,Roxby Downs/Olympic Dam drillholes for hylogger.,"Drillholes submitted for hylogger, captured un...",BILST,2023-05-18 10:24:29,None,NaT
736,KI_BOMWDTF,PR,Set of 648 wells requested by BoM for WDTF re-...,None,KINVERARITY,2021-05-14 12:57:06,None,NaT
737,KAN_NUGENT,PR,Kanmantoo Hillgrove EPEPR assessment,all wells within 1.5 km radius of EPEPR drills...,KINVERARITY,2021-10-01 13:13:55,None,NaT
738,DRYCK_PROD,PR,Dry Creek salt fields production bores,see PEPR-MOP 2022. \nSWL Historic = backfilled...,KINVERARITY,2022-02-08 17:10:57,KINVERARITY,2022-02-11 13:07:26
739,IKMA,PR,Iron Knob Mining Area wells,Ad hoc group for mining assessments,KINVERARITY,2023-06-19 12:15:42,KINVERARITY,2023-06-20 14:30:01

In [6]:
df.groupby("group_type").group_creation_date.agg(["min", "max"])

                           min                 max
group_type
GDC        1997-07-26 12:49:12 2007-12-05 10:27:25
GDU        1997-07-26 12:49:12 2023-05-16 16:45:18
MDU        1997-07-26 12:49:12 2023-05-18 10:24:29
OMH        1997-07-26 12:47:52 2020-11-11 14:21:36
OMN        1997-07-26 12:47:52 2022-11-01 16:21:30
PR         1997-07-26 12:47:52 2023-08-25 13:44:45

As you can see groups are not updated very often.

Get lists of wells within groups/networks
-----------------------------------------

To find wells that belong within certain groups, you can search either by groups themselves, or, perhaps less usefully, group types.

First - by group code. use this method:

``SAGeodataConnection.wells_in_groups``
---------------------------------------

.. automethod:: sageodata_db::SAGeodataConnection.wells_in_groups

For example to look for monitoring wells in the NAP you may want to search a few different groups:

In [11]:
networks[networks.group_code.str.contains('NAP')]

,group_code,group_type,group_desc,group_comments,group_created_by,group_creation_date,group_modified_by,group_modified_date
28,NAP,OMN,Northern Adelaide Plains PWA,None,DHDB,1997-07-26 12:49:12,DHDB,2021-03-16 10:23:44
29,NAP_LIC,OMN,Northern Adelaide Plains PWA irrigation wells ...,Updated annually from GWSM label list,EDWARD02,2007-08-10 12:46:56,DHDB,2021-03-16 10:23:44
30,NAP_PERCH,OMN,Northern Adelaide Plains Perched Aquifers,None,MHUTCHESSON,2016-02-10 10:40:37,DHDB,2021-03-16 10:23:44
123,NAP-S,OMH,Northern Adelaide Plains PWA,None,DHDB,1997-07-26 12:47:52,DHDB,2021-01-25 11:31:23
124,NAP_VHC_35,OMH,Shallow piezo network for NAPSWQ,None,EDWARD02,2004-07-12 14:29:40,DHDB,2021-01-25 11:31:23

In [13]:
wells = db.wells_in_groups(['NAP', 'NAP_LIC', 'NAP_PERCH'])
wells.head()

,well_id,dh_no,unit_hyphen,obs_no,dh_name,aquifer,group_code,group_type,group_desc,swl_status,...,group_created_by,group_creation_date,group_modified_by,group_modified_date,unit_long,easting,northing,zone,latitude,longitude
0,PTG073,27154,6528-7,PTG073,TCWQ 23,Tomw(T1),NAP,OMN,Northern Adelaide Plains PWA,N,...,DHDB,1997-07-26 12:49:12,DHDB,2021-03-16 10:23:44,652800007,263672.37,6176316.86,54,-34.527729,138.425175
1,PTG037,27162,6528-15,PTG037,RIVER LIGHT,None,NAP,OMN,Northern Adelaide Plains PWA,N,...,DHDB,1997-07-26 12:49:12,DHDB,2021-03-16 10:23:44,652800015,266468.42,6174148.78,54,-34.547900,138.455017
2,PTG060,27228,6528-100,PTG060,None,Tomw(T2),NAP,OMN,Northern Adelaide Plains PWA,C,...,DHDB,1997-07-26 12:49:12,DHDB,2021-03-16 10:23:44,652800100,267989.37,6166117.83,54,-34.620598,138.469384
3,PTG065,27230,6528-102,PTG065,None,Tomw(T2),NAP,OMN,Northern Adelaide Plains PWA,H,...,DHDB,1997-07-26 12:49:12,DHDB,2021-03-16 10:23:44,652800102,269280.78,6168037.55,54,-34.603594,138.483980
4,PTG007,27231,6528-103,PTG007,None,Tomw(T1),NAP,OMN,Northern Adelaide Plains PWA,H,...,DHDB,1997-07-26 12:49:12,DHDB,2021-03-16 10:23:44,652800103,270462.41,6166511.81,54,-34.617604,138.496442

The useful columns are these:

In [15]:
cols = ['obs_no', 'aquifer', 'group_code', 'swl_status', 'swl_freq', 'tds_status', 'tds_freq']
wells[cols]

      obs_no   aquifer group_code swl_status swl_freq tds_status tds_freq
0     PTG073  Tomw(T1)        NAP          N     None          N     None
1     PTG037      None        NAP          N     None          H     None
2     PTG060  Tomw(T2)        NAP          C        6          H     None
3     PTG065  Tomw(T2)        NAP          H     None          H     None
4     PTG007  Tomw(T1)        NAP          H     None          N     None
...      ...       ...        ...        ...      ...        ...      ...
1567  PTA150      Qpah  NAP_PERCH          H     None          N     None
1568  PTA151      Qpah  NAP_PERCH          H     None          N     None
1569  PTA140      Qpah  NAP_PERCH          H     None          N     None
1570  PTA149  Qpah(Q2)  NAP_PERCH          H     None          N     None
1571  PTA152  Qpah(Q1)  NAP_PERCH          H     None          N     None

[1572 rows x 7 columns]

You will usually want to filter to see only current wells:

In [17]:
wells[(wells.swl_status == 'C')][cols]

      obs_no       aquifer group_code swl_status swl_freq tds_status tds_freq
2     PTG060      Tomw(T2)        NAP          C        6          H     None
9     PTG049      Tomw(T1)        NAP          C        6          H     None
14    PTG070      Tomw(T1)        NAP          C        6          H     None
19    PTA051      Tomw(T1)        NAP          C        6          H     None
21    PTA041      Tomw(T2)        NAP          C        6          H     None
...      ...           ...        ...        ...      ...        ...      ...
1545  PTA135  Qpah(perchd)  NAP_PERCH          C        3          N     None
1546  PTA136  Qpah(perchd)  NAP_PERCH          C        3          N     None
1547  PTA137  Qpah(perchd)  NAP_PERCH          C        3          N     None
1549  PTA139  Qpah(perchd)  NAP_PERCH          C        3          N     None
1550  MPA181  Qpah(perchd)  NAP_PERCH          C        3          N     None

[155 rows x 7 columns]

In [18]:
wells[(wells.tds_status == 'C')][cols]

      obs_no       aquifer group_code swl_status swl_freq tds_status tds_freq
185   MPA030      Tomw(T1)        NAP          N     None          C        R
304   MUW029      Tomw(T2)        NAP          C        6          C       12
305   MUW030      Tomw(T2)        NAP          C        6          C       12
306   MUW031      Tomw(T2)        NAP          C        6          C       12
343   MUW035      Qpah(Q4)        NAP          C        6          C       12
...      ...           ...        ...        ...      ...        ...      ...
1504    None      Tomw(T1)    NAP_LIC          N     None          C        R
1505  PTA101  Qpah(perchd)  NAP_PERCH          C        3          C       12
1507  PTA105  Qpah(perchd)  NAP_PERCH          C        3          C       12
1509  PTA107  Qpah(perchd)  NAP_PERCH          C        3          C       12
1510  PTA109  Qpah(perchd)  NAP_PERCH          C        3          C       12

[973 rows x 7 columns]

``SAGeodataConnection.wells_in_group_type``
-------------------------------------------

Or you can search by group type instead e.g. "OMN"

.. automethod:: sageodata_db::SAGeodataConnection.wells_in_group_type